.form_group1{grid-area: first;}
.form_group2{grid-area: second;}
.form_group3{grid-area: third;}

.sec-1{
    background-color: white;
    display: grid;
    grid-template-areas: 
    'first second third';
}

.form_group3{
    margin-top: 37px;
    margin-right: 700px;
}