
      <div class="sec-1">
        <div class="form_group1" style="width: 316px; height: 272px; row-gap: 10px;">
          <p><b>Profile Data</b></p>
          <ui5-label>Starting Date:</ui5-label><br />
          <ui5-date-picker class="date_picker" value="2024-02-29" style="width: 316px; background-color: 
          rgba(239, 241, 242, 1);">
          </ui5-date-picker
          ><br />

          <ui5-label>Ending Date:</ui5-label><br />
          <ui5-date-picker class="date_picker" value="2024-02-29" style="width: 316px; background-color: 
          rgba(239, 241, 242, 1);">
          </ui5-date-picker
          ><br />

          <ui5-checkbox text="Subject To Accounting"></ui5-checkbox><br />
          <ui5-checkbox text="Salesman Pre-Invoice point"></ui5-checkbox>
        </div>
        <div class="form_group2" style="width: 316px; height: 100%; row-gap: 28px;">
          <p><b>Salesman/ Subsalesman</b></p>
          <ui5-checkbox
            text="Subsalesman with supplier Code"
            indeterminate
            checked
          ></ui5-checkbox
          ><br />

          <ui5-checkbox
            text="Subsalesman with supplier Code"
            indeterminate
          ></ui5-checkbox
          ><br />

          <ui5-label>Salesman Code:</ui5-label><br />
          <ui5-input placeholder="123" style="width: 316px; margin-top: 3px;"></ui5-input>
        </div>

        <div class="form_group3" style="width: 316px; height: 272px; row-gap: 10px;">
          <p><b>Configuration Details</b></p>
          <ui5-label>Settlement Frequency:</ui5-label><br />
          <ui5-combobox value="Settlement frequency" style="width: 316px; background-color: 
          rgba(239, 241, 242, 1);"></ui5-combobox><br />

          <ui5-label>Type of Relationship:</ui5-label><br />
          <ui5-combobox value="Type of relationship" style="width: 316px; background-color: 
          rgba(239, 241, 242, 1);"></ui5-combobox><br />

          <ui5-label>Salesman Type:</ui5-label><br />
          <ui5-combobox value="Salesman type" style="width: 316px; background-color: 
          rgba(239, 241, 242, 1);"></ui5-combobox><br />

          <ui5-label>Settlement Currency:</ui5-label><br />
          <ui5-combobox value="Settlement currency" style="width: 316px; background-color: 
          rgba(239, 241, 242, 1);"></ui5-combobox><br />
        </div>

        <div class="form_group4" style="width: 316px; height: 272px; row-gap: 10px;">
          <ui5-label>Collaborator Type:</ui5-label><br />
          <ui5-combobox value="Collaborator type" style="width: 316px; background-color: 
          rgba(239, 241, 242, 1);"></ui5-combobox><br />

          <ui5-label>Settlement Form:</ui5-label><br />
          <ui5-combobox value="Settlement form" style="width: 316px; background-color: 
          rgba(239, 241, 242, 1);"></ui5-combobox><br />

          <ui5-label>Sector of Activity</ui5-label><br />
          <ui5-combobox value="Sector of activity" style="width: 316px; background-color: 
          rgba(239, 241, 242, 1);"></ui5-combobox><br />

          <ui5-label>Sending Method:</ui5-label><br />
          <ui5-combobox value="Sending method" style="width: 316px; background-color: 
          rgba(239, 241, 242, 1);"></ui5-combobox><br />
        </div>
      </div>
