

<div class="sec-1">
    <div class="col_1">
        <ui5-checkbox text="Enasarco Calculation"></ui5-checkbox><br>
        <ui5-label>Enasarco Membership Nr:</ui5-label><br>
        <ui5-input value="Enasarco Membership Nr." style="width: 316px; height: 26px; top: 3px; background-color: rgba(239, 241, 242, 1);"></ui5-input>
    </div>

    <div class="col_2">
        <ui5-checkbox text="F.I.R.R Calculation"></ui5-checkbox><br>
        <ui5-label>CCIAA Province:</ui5-label><br>
        <ui5-input value="CCIAA Province" style="width: 316px; height: 26px; top: 3px; background-color: rgba(239, 241, 242, 1);"></ui5-input>
    </div>

    <div class="col_3">
        <ui5-checkbox text="Supplementary Indemnity Calculation"></ui5-checkbox><br>
        <ui5-label>CIAA Nr:</ui5-label><br>
        <ui5-input value="CIAA nr" style="width: 316px; height: 26px; top: 3px; background-color: rgba(239, 241, 242, 1);"></ui5-input>
    </div>

    <div class="col_4">
        <ui5-checkbox text="Enasarco/ F.I.R.R Certification"></ui5-checkbox><br>
        <ui5-checkbox text="Meritocratic Allowance"></ui5-checkbox><br>
    </div>
</div>